@font-face {
    font-family: "Inter-Regular";
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter-Semibold";
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}

:root {
    --blue: #345FF6;
    --gunmetal: #253347;
    --darkElectricBlue: #5E6E85;
    --borders: #D8E2E7;
    --white: #FFFFFF;
    --gradient: #D6E6FE;
}

/* Typograph */
.heading-xl {
    font-family: Inter-Semibold;
    font-size: 64px;
    line-height: 110%;
}

.heading-l {
    font-family: Inter-Semibold;
    font-size: 48px;
    line-height: 110%;
}

.heading-m {
    font-family: Inter-Semibold;
    font-size: 24px;
    line-height: 110%;
}

.heading-s {
    font-family: Inter-Semibold;
    font-size: 20px;
    line-height: 110%;
}

.body-m {
    font-family: Inter-Regular;
    font-size: 16px;
    line-height: 150%;
}

.body-m-bold {
    font-family: Inter-Semibold;
    font-size: 16px;
    line-height: 150%;
}

.body-s {
    font-family: Inter-Regular;
    font-size: 14px;
    line-height: 150%;
}

/* Elements */
h1,
h2,
h3,
h4 {
    color: var(--gunmetal);
}

body {
    margin: 0;
    padding: 0;
}

input {
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    outline: none;
    cursor: pointer;
}

input[type="radio"] {
    height: 31px;
    width: 31px;
    margin-right: 10px;
}

.custom-radio {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--white);
    border-radius: 50%;
    /* outline: 1px solid var(--borders); */
    box-shadow: 0 0 0 1px var(--borders);
}

.custom-radio:hover {
    box-shadow: 0 0 0 1px var(--blue);
}

.custom-radio:focus-visible {
    outline-offset: 0;
}

.custom-radio:checked {
    border: 7px solid var(--borders);
    background-color: var(--blue);
}

.custom-radio:checked:hover {
    box-shadow: 0 0 0 1px var(--borders);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Layout */
main {
    padding: 0 10px 30px 10px;
}

#topper {
    display: flex;
    padding: 0 3vw;
}

#others {
    margin-top: 50px;
}

#intro {
    width: 70%;
    background: linear-gradient(to right, var(--white), var(--gradient));
    border-radius: 0 0 10px 0;
}

#intro>h1 {
    width: 60%;
}

#intro>img {
    margin-top: 50px;
}

#intro>p {
    width: 60%;
    text-align: justify;
    margin-bottom: 10vw;
}

#calculator {
    position: absolute;
    width: 40%;
    top: 15%;
    right: 3vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 10px 10px 5px var(--borders);
}

#units {
    display: flex;
    justify-content: space-between;
}

#units>div {
    width: 47.5%;
    display: flex;
    align-items: center;
}

#units>div>label {
    color: var(--gunmetal);
    cursor: pointer;
}

#metric-display {
    display: flex;
    flex-direction: column;
}

#metric-headers {
    display: flex;
    justify-content: space-between;
}

#metric-headers>p {
    width: 47.5%;
    color: #5E6E85;
}

#metric-fields {
    display: flex;
    justify-content: space-between;
}

.calc-input {
    width: 47.5%;
    display: flex;
    border: 1px solid var(--borders);
    border-radius: 10px;
}

.calc-input-active {
    border: 1px solid var(--blue);
}

.calc-input>input {
    width: 60%;
    border-radius: 10px;
    margin-left: 20px;
    color: var(--gunmetal);
}

.calc-input>p {
    width: auto;
    margin-left: 4px;
    margin-right: 20px;
    color: var(--blue);
}

#imperial-display {
    display: none;
    flex-direction: column;
}

#imperial-display>div {
    display: flex;
    flex-direction: column;
}

.imp-section {
    display: flex;
    justify-content: space-between;
}

#welcome {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px 100px 100px 5px;
    padding: 20px;
    margin-top: 30px;
}

#result {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px 100px 100px 5px;
    padding: 20px;
    display: none;
    margin-top: 30px;
    align-items: center;
}

#result-score {
    width: 47.5%;
    padding-left: 10px;
    margin-right: 5%;
}

#result-score>p {
    margin: 0;
}

#result-details {
    width: 40%;
}

.base-p {
    color: var(--darkElectricBlue);
}

#what {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    padding: 0 3vw;
}

#what>div {
    width: 40%;
    padding-bottom: 50px;
}

#what>div>p {
    text-align: justify;
}

#curved-line-left {
    position: absolute;
    right: 3vw;
    top: -30px;
}

#tips {
    display: flex;
    background: linear-gradient(to right, var(--white), var(--gradient));
    justify-content: space-between;
    padding: 3vw 3vw;
    border-radius: 35px;
    margin: 50px 0;
}

#tips>div {
    width: 29%;
}

#limitations {
    padding: 0 3vw;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

#explanation {
    width: 45%;
    margin-right: 13%;
}

#curved-line-right {
    width: 94px;
    height: 122px;
    margin: 0 13%;
    margin-top: 3vw;
}

#age,
#muscle,
#pregnancy,
#race {
    margin-top: 3vw;
}

#pregnancy {
    margin-left: 17%;
}


.limit-card {
    width: 25%;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 10px 10px 50px var(--borders);
    margin-right: 3%;
}

.limit-card>div {
    display: flex;
}



#explanation>h2 {
    margin-top: 0;
}



@media (max-width: 900px) {
    main {
        width: 100vw;
        padding: 0;
    }

    #topper {
        width: 100vw;
        flex-direction: column;
        padding: 0;
        align-items: center;
        position: relative;
    }

    #intro {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #intro>h1 {
        width: 66%;
        text-align: center;
    }

    #intro>img {
        width: 64px;
    }

    #intro>p {
        width: 90%;
        text-align: justify;
        margin-bottom: 30vw;
    }

    #calculator {
        position: relative;
        width: 90%;
        bottom: 25vw;
        margin-left: 5%;
    }

    #curved-line-left,
    #curved-line-right {
        display: none;
    }

    #others {
        margin-top: 0;
    }

    #what {
        display: flex;
        position: relative;
        align-items: flex-start;
        padding: 0 3vw 0 0;
    }

    #man-eating {
        position: relative;
        right: 50px;
    }

    #what>div {
        width: 50%;
        padding-bottom: 50px;
    }

    #what>div>h2 {
        font-size: 32px;
    }

    #tips {
        flex-direction: column;
        margin: 50px 0;
    }

    #tips>div {
        width: 100%;
        display: flex;
    }

    #tips>div>img {
        margin-right: 30px;
    }


    #limitations {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 30px;
        margin-top: 70px;
    }

    #explanation {
        width: auto;
        display: flex;
        flex-direction: column;
        grid-column: 1 / span 2;
        margin-right: 0;
        margin-bottom: 30px;
        align-items: center;
    }

    #explanation>h2{
        font-size: 32px;
    }

    #explanation>p {
        text-align: center;
    }

    #gender {
        margin-top: 3vw;
    }

    #gender,#age,#muscle {
        grid-column: span 1;
        margin-right: 0;
    }

    #pregnancy {
        margin-left: 0;
        grid-column: span 1;
    }

    #race {
        justify-self: center;
        width: 38%;
        grid-column: 1 / span 2;
    }

    .limit-card {
        width: auto;
        padding: 32px;
        border-radius: 16px;
        box-shadow: 10px 10px 50px var(--borders);
        margin-right: 3%;
    }

}

@media (max-width: 450px) {
    #topper {
        padding: 0;
    }

    #intro>h1 {
        width: 95%;
    }

    #calculator {
        position: relative;
        width: 80%;
        margin-left: 7%;
    }

    #result {
        flex-direction: column;
        border-radius: 16px;
        align-items: flex-start;
    }

    #result-score {
        width: auto;
    }

    #result-details {
        width: auto;
    }

    #what {
        flex-direction: column;
        position: relative;
        align-items: center;
        padding: 0;
    }

    #man-eating {
        width: 100%;
        position: static;
    }

    #what>div {
        width: 90%;
        padding-bottom: 50px;
    }

    #tips {
        align-items: center;
        border-radius: 0;
    }


    #tips>div {
        flex-direction: column;
        width: 90%;
        margin-bottom: 20px;
    }

    #tips>div>img {
        width: 64px;
    }

    


    #limitations {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }

    #race {
        width: auto;
    }
}